.product-category-container{
    width: 95%;
    margin: 0 auto;
    min-height: 30px;
    border: 1px solid turquoise;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    
}

.name-price{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
    
}